swagger: "2.0"
info:
  title: Cloud Function Calculator API
  description: API for calculator app using google cloud function.
  version: 1.0.0

host: calculator-api.apigateway.hw-3-417211.cloud.goog 
basePath: /
schemes:
  - https
  - http

paths:
  /add:
    post:
      operationId: add
      summary: Get the sum of two numbers.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: requestBody
          in: body
          required: true
          description: The two numbers to add
          schema:
            $ref: '#/definitions/RequestBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseBody'
      x-google-backend:
        address: https://us-central1-hw-3-417211.cloudfunctions.net/add

  /sub:
    post:
      operationId: sub
      summary: Get the difference between two numbers.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: requestBody
          in: body
          required: true
          description: The two numbers to subtract
          schema:
            $ref: '#/definitions/RequestBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseBody'
      x-google-backend:
        address: https://us-central1-hw-3-417211.cloudfunctions.net/sub

  /mul:
    post:
      operationId: mul
      summary: Get the product of two numbers.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: requestBody
          in: body
          required: true
          description: The two numbers to multiply
          schema:
            $ref: '#/definitions/RequestBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseBody'
      x-google-backend:
        address: https://us-central1-hw-3-417211.cloudfunctions.net/mul

  /div:
    post:
      operationId: div
      summary: Get the division of two numbers.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: requestBody
          in: body
          required: true
          description: The two numbers to divide
          schema:
            $ref: '#/definitions/RequestBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ResponseBody'
      x-google-backend:
        address: https://us-central1-hw-3-417211.cloudfunctions.net/div

definitions:
  RequestBody:
    type: object
    required:
      - X
      - Y
    properties:
      X:
        type: integer
      Y:
        type: integer
  ResponseBody:
    type: object
    required:
      - X
      - Y
      - Result
    properties:
      X:
        type: integer
      Y:
        type: integer
      Result:
        type: integer
